body {
    font-family: Arial;
    text-align: center;
}
.header-line {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid #007BFF; /* BLUE COLOR LINE */
    margin-bottom: 25px;
}
.product-box {
    display: inline-block;      /* SIDE BY SIDE */
    width: 220px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
    margin: 15px;
    text-align: center;
    vertical-align: top;
}

.product-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: green;
}

.product-box a {
    text-decoration: none;
    color: blue;
}


.product-box:hover {
    outline: 3px solid #007BFF;
    outline-offset: 5px;
}
